{% for g in garages %}
    <div class="row row-{{g.id}} item">
        <div class="col-md-10 col-xs-6">
            <a class="title" href="/garages/{{g.id}}/view">{{g.name}}</a>
        Brand: {{g.brand|default('-', true)}}<br />
        Country: {{g.postal_country|default('-', true)}}<br />
        Cars: {{g.cars|default('0', true)}}
        </div>
        <div class="col-md-2 col-xs-6">
            <button class="btn btn-primary edit-garage" v-on:click="edit-garage({{g.id}}">Edit</button>
            <button class="btn btn-danger delete-garage" v-on:click="delete-garage({{g.id}}">Delete</button>
        </div>
    </div>
{% endfor %}
