{% extends "base.html" %}
{% block script %}
<!-- script here -->
{% endblock %}
{% block title %}Home{% endblock %}
{% block page %}
<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" wdata-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Home</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Garages</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>

<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
					<form class="panel well">
						<div class="form-group">
								<label for="name">Name</label>
								<input v-model='gname' type="text" class="form-control" placeholder="Enter name">
							</div>
							<div class="form-group">
								<label for="brand">Brand</label>
								<input v-model='gbrand' type="text" class="form-control" placeholder="Brand">
							</div>

							<button type="button" class="btn btn-default btn-primary" id="addGarage" @click='saveGarage()'>Add</button> <button type="button" class="btn btn-default btn-danger modal-default-button" @click="$emit('close')">Close</button>
						</form>
        </div>
      </div>
    </div>
  </transition>
</script>


<div class="container">
	<div class="row">
    <div id="garages" class="panel well col-xs-12">
				<button class="btn btn-default btn-primary" @click="showModal = true">Add Garage</button>
			<garage-list></garage-list>

			<modal v-if="showModal" @close="showModal = false">
		</div>
	</div>
</div>

<script type="text/javascript" src="/static/dist/home.js"></script>
{% endblock %}
