<!DOCTYPE html>
{# Jinja comment: This is the basic html page that will be loaded #}
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Only basic jquery imported -->
        <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->

        <!--<script src="/static/bootstrap/js/bootstrap.min.js"></script>-->
        <link type="text/css" rel="stylesheet" href="/static/main.css"/>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" media="screen">
        <title>Garage App</title>
    </head>
    <body>
    <div id="app"></div>
    <script src="/static/dist/app.js"></script>
    </body>
</html>

